.comicsThumb{
  width: 100%;
  height: 300px;
  background-position: left center; 
  background-size: cover;
}

.comicTitle{
  height: 5em;
  padding: 0 15px;
  display: block;
  width: 100%;
}

.comicDescription{
  height: 6.8em;
  padding: 0 15px;
  display: block;
  width: 100%; 
}

.buttonGroup{
padding: 0 0 30px 15px;
}

button{
  height: 48px;
}